      <li> event :  <%=  @event.try(:name) %>  </li>   <br>        
      <li> location : <%= @event.try(:location)  %> </li> <br>  
      <li> starts_at :<%= @event.try(:starts_at) %> </li> <br>        
      <li> ends_at :  <%= @event.try(:ends_at)   %> </li> <br>  
      
      <a href="/">homepage</a> 

