  <form action='/signup' method='post'>
      event :      <input type="text"      name="event[name]"             value="@event.try(:name)"        placeholder="event"><br>
      location :   <input type="text"      name="event[location]"         value="@event.try(:location)"    placeholder="last_name"><br>
      starts_at :  <input type="text"      name="event[starts_at]"        value="@event.try(:starts_at)"   placeholder="email"><br>
      ends_at :    <input type="text"      name="event[ends_at]"          value="@event.try(:ends_at)"     placeholder="birthdate"><br>
      <input type="submit"                                                value="sign up">
  </form>
