  <form action='/event/create' method='post'>
      event :      <input type="text"      name="event[name]"      >     <br>        
      location :   <input type="text"      name="event[location]"  > <br>  
      starts_at :  <input type="text"      name="event[starts_at]" >    <br>        
      ends_at :    <input type="text"      name="event[ends_at]"   ><br>  
      <input type="submit"                                          value="submit">
  </form>
