<div class="container">

<h3>Welcome <%= @user.first_name %> <%= @user.last_name %></h3>

<br>
<br>

<a href="/event/create">Create New Event</a>

<h3>Events Created</h3>
  <%= erb :_events_created_list, :layout => false %>

  
<a href="/logout"> Log Out</a> 
</div>
